body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
    text-align: center;
    margin-bottom: 20px;
}

header h1 {
    margin: 0;
    font-size: 24px;
}

.upload-section,
.download-section {
    text-align: center;
    margin-bottom: 20px;
}

.upload-section input,
.upload-section select,
.upload-section button {
    display: block;
    margin: 10px auto;
    padding: 10px;
    font-size: 16px;
}

#statusMessage {
    color: red;
}

.download-section {
    display: none;
}

.download-section a {
    display: block;
    margin: 10px auto;
    padding: 10px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.download-section a:hover {
    background-color: #0056b3;
}